# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Dependency directories
bower_components/
jspm_packages/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build output
dist/
build/
coverage/
